@import '../colores.css';

.main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 80px;
  background-color: var(--light-green);
  color: var(--text-color);
  z-index: 100;
}

.inside_main_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.logo_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
}

.logo {
  height: 40px;
  width: auto
}

.header_buttons_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* ============================ header buttons ============================ */
.header_button {
  padding: 10px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;
  color: var(--text-color);
  font-weight: 500 !important;
}


.header_button:hover {

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}



/* =============================================================================== */