.contact_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: calc(100vh - 282px);
}

.contact_inside_cont{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 2200px;
}


.contact_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  gap: 20px;
  margin-top: 100px;
}

.image_cont{
  width: 800px;
  height: auto;
}

.contact_image{
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 400px;
}