:root {
  --primary-color: rgb(255, 0, 0);
  --light-green: rgb(187, 231, 208);
  --text-color: #090909;
  --light-green-text: rgb(220 231 225);
  --dark-green-color: rgb(11 63 59);
  --white-text-color: rgb(255 255 255);
}















