@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;

}

body {
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;

  font-optical-sizing: auto;
  font-weight: 365;
  font-style: normal;
}



@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
}