@import './colores.css';



.page {

  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--foreground);
  position: relative;
  max-width: 2200px;
}


.background_image_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: -80px;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  min-height: 800px;
  padding: 20px;
  background-image: url('../../public/background_photo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  position: absolute;
  z-index: 99;
}


.background_content {
  padding: 30px;
  width: 50%;
  z-index: 100;
  position: absolute;
  top: 200px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}





.title {
  font-size: 100px;
  color: var(--white-text-color);
  font-weight: 600 !important;
}


.description {
  font-size: 40px;
  color: var(--white-text-color);
  font-weight: 600 !important;
  width: 700px;
  margin-top: 40px;
}

.contact_button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--white-text-color);
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600 !important;
}

.social_icons_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.social_icon {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.social_icon:hover {
  transform: scale(1.2);
}


/* experiance cont   styles  */
.experiance_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 400px;
  margin-top: 700px;
}

.experiance_title {
  font-size: 18px;
  color: var(--dark-green-color);
  font-weight: 100 !important;
  width: 40%;
  text-align: left;
  margin-top: 10px;
  line-height: 2;
  letter-spacing: 0.5px;
}

/* ======================== experiance contett ========================= */
.all_experiance_cont {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  margin-top: 60px;

}

.experiance_item {
  width: 100%;
}

.experiance_item_title {
  font-size: 97px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
}

.item_text {
  font-size: 18px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
}

.thick_line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-green-color);
  margin-top: 20px;
}


.experiance_header_container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  margin-bottom: 70px;
  padding: 20px;
}

.experiance_header {
  font-size: 50px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
  max-width: 700px;
}


.experiance_button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--dark-green-color);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
}


/* ===================== images cont ========================== */


.experiance_image_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  justify-items: center;
  width: 100%;
  min-height: 400px;
  padding: 20px;
  margin-top: 20px;
}

.each_image_cont {
  width: 500px;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.image_wrapper {
  overflow: hidden;
  height: 260px;
}

.experiance_image {
  max-width: 450px;
  height: auto;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;

}

.each_image_cont:hover .experiance_image {
  transform: scale(1.3);
}

.image_text {
  font-size: 18px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
  margin-top: 30px;
}

.image_thick_line {
  width: 100%;
  height: 3px;
  background-color: var(--dark-green-color);
  margin-top: 20px;
}



.work_steps_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-top: 100px;
  min-height: 400px;
  padding: 20px;
  background: var(--light-green);

}


.work_steps_header {
  font-size: 44px;
  color: var(--dark-green-color);
  font-weight: 700 !important;
  max-width: 980px;
  line-height: 1.2;
}


.work_steps_child_cont {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  width: 100%;
  min-height: 280px;
  gap: 24px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}


.work_steps{
  background-color: var(--white-text-color);
  width: 400px;
  min-height: 320px;
  border: 2px solid var(--dark-green-color);
  border-radius: 14px;
  padding: 26px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-shadow: 0 8px 26px rgba(11, 63, 59, 0.14);
}

.work_steps_title {
  font-size: 26px;
  color: var(--dark-green-color);
  font-weight: 700 !important;
}

.work_steps_subtitle {
  font-size: 21px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
  margin-top: 12px;
  line-height: 1.35;
}

.work_steps_list {
  margin-top: 20px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work_steps_list_item {
  font-size: 15px;
  color: var(--dark-green-color);
  line-height: 1.55;
  font-weight: 500 !important;
}