@import './colores.css';



.page {

  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--foreground);
  border: 1px solid black;
    position: relative;
  overflow: hidden; /* Prevent overflow */

}


.background_image_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: -80px;
  width: 100%;
  min-height: 800px;
  padding: 20px;
  
  background-image: url('../../public/background_photo.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: scroll; /* Change to scroll for parallax effect */
  transform: translateZ(0); /* Enable hardware acceleration */

}


.background_content{
  padding: 30px;
  margin-left: -20px !important;
  width: 50%;
  
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: var(--light-green);
}

.title{
  font-size: 36px;
  color: var(--text-color);
  font-weight: 600 !important;
}


.description{
  font-size: 18px;
  color: var(--text-color);
  font-weight: 600 !important;
}


/* experiance cont   styles  */
.experiance_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 400px;
  padding: 20px;
  margin-top: 20px;
}

.experiance_title{
  font-size: 18px;
  color: var(--dark-green-color);
  font-weight: 100 !important;
  width: 40%;
  text-align: left;
  margin-top: 10px;
  line-height: 2;
  letter-spacing: 0.5px;
}

/* ======================== experiance contett ========================= */
.all_experiance_cont{
  width: 100%;
  display: flex;
  flex-direction: row ;
  justify-content:space-around;
  align-items: center;
  gap: 30px;
  margin-top: 60px;

}

.experiance_item{
  width: 100%;
}

.experiance_item_title{
  font-size: 97px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
}

.item_text{
  font-size: 18px;
  color: var(--dark-green-color);
  font-weight: 600 !important;
}

.thick_line{
  width: 100%;
  height: 3px;
  background-color: var(--dark-green-color);
  margin-top: 20px;
}


