.page {

  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--foreground);
  padding:0 20px 20px 20px;
  border: 1px solid black;

}
