@import './colores.css';



.page {

  display: flex;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--foreground);
  border: 1px solid black;
    position: relative;
  overflow: hidden; /* Prevent overflow */

}


.background_image_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  margin-top: -80px;
  width: 100%;
  min-height: 800px;
  padding: 20px;
  color: var(--light-green-text);
  
  background-image: url('../../public/background_photo.jpg');
  background-size: cover; 
  background-position: center;
  background-attachment: scroll; /* Change to scroll for parallax effect */
  transform: translateZ(0); /* Enable hardware acceleration */
}

.title{
  font-size: 36px;
  color: var(--light-green-text);
  font-weight: 700 !important;
}


.description{
  font-size: 18px;
  color: var(--light-green-text);
  font-weight: 600 !important;
}


/* experiance cont   styles  */
.experiance_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  min-height: 700px;
  padding: 20px;
  border: 1px solid red;
}

.experiance_title{
  font-size: 18px;
  color: var(--text-color);
  font-weight: 200 !important;
  width: 60%;
  text-align: left;
  margin-top: 10px;

}