@import '../colores.css';

.main_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: white;
  color: var(--text-color);
  z-index: 150;
  position: fixed !important;
  max-width: 2600px;
  left: 50%;
  transform: translateX(-50%);
}


.main_container.scrolled {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.inside_main_cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.logo_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 40px;
}

.logo {
  height: 40px;
  width: auto;
  cursor: pointer;
  margin-left: 20px;
}

.header_buttons_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}


/* ============================ header buttons ============================ */
.header_button {
  padding: 10px;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid transparent;
  color: var(--text-color);
  font-weight: 500 !important;
}


.header_button:hover {
  color:var(--dark-green-color);
}



/* =============================================================================== */